$primaryBlue: #35838D;
$primaryBlueLight: #4FB6C3;
$secondaryGrey: #7B7B7B;
$secondaryGreyLight: #B4B4B4;
$secondaryLighterGrey: #F1F1F1;


$dark: #2B2B2B;
$white: #FFFFFF;

$primaryGradient: linear-gradient(180deg, rgba(53, 131, 141, 0.75) 0%, #035555 100%);