@import "colors", "typography";
@import "../../../assets/styles/shadows.scss";

#dashboardContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  #dashboardDecoration {
    position: fixed;
    z-index: -999;
    flex-basis: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    clip-path: polygon(0 77%, 100% 19%, 100% 100%, 0% 100%);
    background: $primaryGradient;
  }

  main {
    width: 75%;
    height: 85%;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    @include container-style;


    .board-left {
      background-color: $primaryBlue;
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .intro-text {
        text-align: center;
        color: $white;
        p:first-child {
          @include heading1;
        }
      }
    }

    .board-right {
      background-color: $white;
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      header {
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        align-items: center;
        justify-content: space-between;
        justify-items: center;

        img {
          width: 100px;
          height: auto;
        }

        .profile-icon {
          width: fit-content;
          text-align: left;
          display: inline-block;
          cursor: pointer;

          path {
            fill: $primaryBlue;
          }
            .intro-text {
                text-align: center;
                p:first-child {
                    @include heading1;
                    color: $white;
                }
                p:last-child {
                    color: $secondaryLighterGrey;
                }
            }
        }
      }

      h1 {
        @include heading1;
      }
    }
  }
}
