.content-new {
    background-color: #f1f1f1;
    padding: 25px;
    border-radius: 15px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .btn-logout {
      background-color: #35838d;
      border: 0;
      padding: 8px 15px;
      border-radius: 10px;
    }
  }
  