<div class="content-new">
    <div>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="bsModalRef.hide()"
      >
      </button>
    </div>
    <div class="mt-2 text-center">
        <svg
        width="34"
        height="34"
        viewBox="0 0 34 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.29735 14.3326C5.38901 13.9287 5.13585 13.5269 4.7319 13.4353C4.32796 13.3436 3.92619 13.5968 3.83453 14.0007L5.29735 14.3326ZM7.99981 6.9377C7.69117 7.21394 7.6649 7.68809 7.94115 7.99673C8.21739 8.30538 8.69154 8.33164 9.00019 8.0554L7.99981 6.9377ZM21.25 20.5C20.8358 20.5 20.5 20.8358 20.5 21.25C20.5 21.6642 20.8358 22 21.25 22L21.25 20.5ZM24.75 26.5035C24.75 26.9177 25.0858 27.2535 25.5 27.2535C25.9142 27.2535 26.25 26.9177 26.25 26.5035H24.75ZM7.75 26.5035C7.75 26.9177 8.08579 27.2535 8.5 27.2535C8.91421 27.2535 9.25 26.9177 9.25 26.5035H7.75ZM12.75 21.25L12.75 22H12.75V21.25ZM15.5833 22C15.9975 22 16.3333 21.6642 16.3333 21.25C16.3333 20.8358 15.9975 20.5 15.5833 20.5V22ZM17 5C23.6274 5 29 10.3726 29 17H30.5C30.5 9.54416 24.4558 3.5 17 3.5V5ZM17 29C10.3726 29 5 23.6274 5 17H3.5C3.5 24.4558 9.54416 30.5 17 30.5V29ZM29 17C29 23.6274 23.6274 29 17 29V30.5C24.4558 30.5 30.5 24.4558 30.5 17H29ZM5 17C5 16.0824 5.10285 15.1898 5.29735 14.3326L3.83453 14.0007C3.61549 14.966 3.5 15.97 3.5 17H5ZM9.00019 8.0554C11.1237 6.15479 13.9261 5 17 5V3.5C13.5429 3.5 10.3877 4.80046 7.99981 6.9377L9.00019 8.0554ZM20.5 12.75C20.5 14.683 18.933 16.25 17 16.25V17.75C19.7614 17.75 22 15.5114 22 12.75H20.5ZM17 16.25C15.067 16.25 13.5 14.683 13.5 12.75H12C12 15.5114 14.2386 17.75 17 17.75V16.25ZM13.5 12.75C13.5 10.817 15.067 9.25 17 9.25V7.75C14.2386 7.75 12 9.98858 12 12.75H13.5ZM17 9.25C18.933 9.25 20.5 10.817 20.5 12.75H22C22 9.98858 19.7614 7.75 17 7.75V9.25ZM21.25 22C22.2317 22 23.0916 22.5567 23.7375 23.4543C24.3869 24.3566 24.75 25.5175 24.75 26.5035H26.25C26.25 25.1948 25.7832 23.7289 24.955 22.5781C24.1235 21.4226 22.8584 20.5 21.25 20.5L21.25 22ZM9.25 26.5035C9.25 25.5175 9.61314 24.3566 10.2625 23.4543C10.9084 22.5567 11.7683 22 12.75 22L12.75 20.5C11.1416 20.5 9.8765 21.4226 9.04497 22.5781C8.21683 23.7289 7.75 25.1948 7.75 26.5035H9.25ZM12.75 22H15.5833V20.5H12.75V22Z"
          fill="black"
        />
      </svg>
      <h1>{{ currentUser.name }}</h1>
      <p>Email: {{ currentUser.email }}</p>
      <p>Points: {{ currentUser.points }}</p>
    </div>
    <div class="mt-auto">
      <button
        type="button"
        class="btn-logout btn-primary"
        (click)="logout()"
      >
        Logout
      </button>
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
        Close
      </button>
    </div>
  </div>
  